// Colors
$base-color: #232020;
$accent-color: #f14c85;
$primary-color: #48466D;
$secondary-color: #bebebe;

$gray-25: #252525;
$gray-138: #8a8a8a;
$gray-242: #f2f2f2;
$gray-245: #f5f5f5;
$gray-250: #fafafa;

$brown-color: #4c4136;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #ffeb3b;
$danger-color: #fd0d4d;

$white-color: #ffffff;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color;


// Fonts
$font-size: 18px;
$primary-font: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: inherit;

$duration: 0.25s;
$border-radius: 2px;

// Grid
$grid-columns: 12;
$gutter: 26px;

$vh-height-bp: 720px;

$height-header-mobile: 80px;
$height-header-desktop: 100px;
$height-header-desktop--sticky: 76px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
