.filter-range-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: $muted-color;
  user-select: none;
}

.filter-range-values__from {
}

.filter-range-values__to {
}
