.flat-filter {
}

.flat-filter__label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: rem(14);
  // text-transform: uppercase;
}

.flat-filter__control {
  position: relative;
  flex-grow: 1;
}

.flat-filter__controls {
  display: flex;
}

.flat-filter__controls-divider {
  flex-basis: 20px;
}

.flat-filter__placeholder {
  font-size: 13px;

  @include mq-min-allow-vh($vh-height-bp) {
    font-size: vh(13);
  }
}

.flat-filter__input {
  text-align: center;
}
